<div class='flex flex-col gap-4'>
  <% @members.each do |member| %>
    <div class='flex flex-col gap-1 bg-gray-100 p-4 rounded-md hover:bg-gray-200'>
      <div>名字：<%= member.name %></div>
      <div>身分證字號：<%= member.partial_id_card_number %></div>
      <div class='flex gap-4'>
        <%= link_to '編輯', edit_admin_member_registration_path(member), class: 'edit-button' %>
        <%= link_to '檢視', admin_member_path(member), class: 'show-button' %>
      </div>
    </div>
  <% end %>
</div>
