<%= turbo_stream.update "registrations_table" do %>
  <div class="data-table-wrap">
    <div class="overflow-x-auto">
      <table class="data-table">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>姓名</th>
            <th>報名狀態</th>
            <th>身分證字號</th>
            <th>性別</th>
            <th>生肖</th>
            <th>出生日期</th>
            <th>手機號碼</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "admin/activities/registrations/registration_row", collection: @registrations, as: :registration %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<%= turbo_stream.update "pay_modal_frame", "" %>
